<div class="text">
    <plugin-test [message]="message" (interceptor)="intercept()" (discard)="discardMessage()"></plugin-test>
    <plugin-1 [message]="message" (interceptor)="intercept()" (discard)="discardMessage()"></plugin-1>
    <plugin-2 [message]="message" (interceptor)="intercept()" (discard)="discardMessage()"></plugin-2>
    <plugin-3 [message]="message" (interceptor)="intercept()" (discard)="discardMessage()"></plugin-3>
    <plugin-4 [message]="message" (interceptor)="intercept()" (discard)="discardMessage()"></plugin-4>
    <plugin-5 [message]="message" (interceptor)="intercept()" (discard)="discardMessage()"></plugin-5>
    <plugin-6 [message]="message" (interceptor)="intercept()" (discard)="discardMessage()"></plugin-6>
    <plugin-7 [message]="message" (interceptor)="intercept()" (discard)="discardMessage()"></plugin-7>
    <plugin-8 [message]="message" (interceptor)="intercept()" (discard)="discardMessage()"></plugin-8>
</div>